*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@mixin padding180 {
    padding-left: 180px;
}
// h1{
//     color: white;
// }
// .nav{
//     background-color: rgb(50, 50, 50);
//     height: 80px;
//     font-family: sans-serif;

//     display: flex;
//     flex-wrap:wrap;
//     align-items: center;

//     &__title{
//         @include padding180;
    
//     }
    
// }

// .nav__menu ul{
//     display: flex;
//     justify-content: flex-start;
//     li {
//         padding-left: 56px;
//         font-size: 20px;
//         list-style-type: none;
//         color: white; 
//     }
//     li:hover{
//             color: white;
//             border-bottom: 2px solid white;
//         }
    
// }

.hero {
    height: 670px;
    background-size: cover;
    background-repeat: round;
    img {
        height: 670px;
    }
    &__cover {
        @include padding180;
        padding-top: 160px;
        font-size: 3em;
    }
}

.about {
    margin: 0 auto;
    width: 896px;
    display: flex;
    flex-flow: wrap;
    &__img {
        width: 100%;
        height: 450px;
        padding-bottom: 48px;

    }
    &__p1 {
       padding-bottom: 40px;
       
    }
    &__p2 {
        padding-bottom: 56px;
        
    }
    h3 {
        padding-bottom: 32px;
        font-style: bold;
        
    }
    
}
.card__soundCloud {
    display: flex;
    flex-flow: wrap;
    @include padding180();
    padding-top: 48px;

    &__player {
        padding-left: 64px;
    }
    &__title {
        font-size: 3em;
    }
}

.hero__cover__shows {
    font-size: 1.5em;
}
.about__nujabes1, .about__nujabes2{
    width: 420px;
    padding-bottom: 48px;
    flex: 0 0 47%;
    
}
.about__nujabes1{
    margin-right: 40px;
}

.musician {
    padding: 48px 0 48px 180px;
}

.picture_title {
    padding: 48px 0 64px 180px;
}
.container-galery{
    padding-bottom: 40px;
}
.galery{
    height:627px ;
    width: 1080px;
    margin-left: 180px;
    display: flex;
    flex-wrap: wrap;
    &__pic {
        width: 344px;
        height: 193px;
        // background-image: url('nuajbes5.jpg');
        background-repeat: round;
        // margin: 8px;
        &--middle {
            margin: 0 24px;
        }
    }        
}

.conversation__title {
    padding-left: 180px;
    padding-top: 48px;
    padding-bottom: 56px;
   
}

.conversation {
    display: flex;
    justify-content: center;
}
.myform {
    width: 460px;
   
    
}
.myform__img > img {
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 20px;

}

#username {
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
}

#comment {
    width: 100%;
    height: 96px;
    margin-bottom: 24px;
}

.cta {
    color: white;
    background-color: #323232;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    float: right;
}

#comments {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 24px;
}
// footer {
//     height: 130%;
//     color: white;
// }
// .contact {
//     @include padding180();
//     display: flex;
//     justify-content: flex-start;
//     padding-top: 48px;
//     &__card {
//         padding-right: 40px;
//     }
//     &__card:last-of-type {
//         width: 50%;
//     }
//     i {
//         padding-bottom: 56px;
//         padding-right: 32px;
//     }
//     h4 {
//         padding-bottom: 56px;
//     }
//     h5 {
//         padding-bottom: 56px;
//         width: 100%;
//         text-align: right

//     }
//     p{
//         padding-bottom: 24px;
//     }
    
   
// }



// footer>p {
//     @include padding180();
//     padding-top: 16px;
// }
// .contact_card {
//     @include padding180();
// }
// --------------------------@media-query-----------------------------
@media  (max-width: 481px){
    
    // .nav {
    //     &__menu{
    //     width: 100%;
    //     }

    //     &__menu ul{
    //         justify-content: space-around;
    //         padding-top: 6px;
    //     }

    //     &__menu ul li{
        
    //         padding: 10px 0px;
    //     }   
    // }
 }
 
  
  @media (max-width: 721px) {
    
    
    
  }
  
  
  
  