*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@mixin padding180 {
    padding-left: 180px;
}

footer {
    height: 60%;
    color: white;
}
.contact {
    @include padding180();
    display: flex;
    justify-content: flex-start;
    padding-top: 48px;
    &__card {
        padding-right: 40px;
    }
    &__card:last-of-type {
        width: 50%;
    }
    i {
        padding-bottom: 56px;
        padding-right: 32px;
    }
    h4 {
        padding-bottom: 56px;
    }
    h5 {
        padding-bottom: 56px;
        width: 100%;
        text-align: right

    }
    p{
        padding-bottom: 24px;
    }
    
   
}



footer>p {
    @include padding180();
    padding-top: 16px;
}

// --------------------------@media-query mobile and tablet-----------------------------
@media  (max-width:481px){

    footer {
        height: 110%;
        color: white;
    }
    .contact {
        padding-left: 16px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 48px;
        &__card {
            padding-right: 40px;

            }
            
        i {
            padding-bottom: 30px;
            padding-right: 32px;
        }
        h4 {
            padding-bottom: 30px;
        }
        h5 {
            display: none;
    
        }
        p{
            padding-bottom: 24px;
        }
    
       
    }
    footer>p {
        padding-left: 16px;
        padding-top: 16px;
    }
   
 
 }
 
  
  @media  (max-width:768px) and (min-width: 482px)  {
    footer {
        height: 55%;
        color: white;
    }
    .contact {
        padding-left: 24px;
        display: flex;
        padding-top: 48px;
        &__card {
            padding-right: 25px;

        }
            
        i {
            padding-bottom: 30px;
            padding-right: 32px;
        }
        h4 {
            padding-bottom: 30px;
        }
        
        p{
            padding-bottom: 24px;
        }
    
       
    }
    footer>p {
        padding-left: 24px;
        padding-top: 16px;
    }

   
 }