*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@mixin padding180 {
    padding-left: 180px;
}

h1{
    color: white;
}
.nav{
    background-color: rgb(50, 50, 50);
    height: 80px;
    font-family: sans-serif;

    display: flex;
    flex-wrap:wrap;
    align-items: center;

    &__title{
        @include padding180;
    
    }
    
}

.nav__menu ul{
    display: flex;
    justify-content: flex-start;
    li {
        padding: 28px 56px;
        font-size: 20px;
        list-style-type: none;
        color: white; 
        width: 80%;
        

    }
    li:hover{
            color: white;
            border-bottom: 4px solid white;
            padding-bottom: 2px;
        }
    
}
@media  (max-width:481px){
    .nav__menu ul{
        display: flex;
        justify-content: flex-start;
        li {
            padding: 28px 56px;
            font-size: 20px;
            list-style-type: none;
            color: white; 
            width: 80%;
            display: contents;
    
        }
    }
}


@media  (max-width: 717px){
    
    .nav {
        &__title {
            width: 160px;
            margin: 0 auto;
            padding-left: 0;
        }
        &__menu{
        width: 100%;
        }

        &__menu ul{
            justify-content: space-around;
            padding-top: 6px;
        }

        &__menu ul li{
        
            padding: 6px 80px;
            
        font-size: 20px;
        list-style-type: none;
        color: white; 
        width: 100%;
        
        }   
    }
 }